[user]
  name = Valerii Vasin
  email = valerii.vasin@gmail.com
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  fa = fetch --all -p
  st = status
  ci = commit
  co = checkout
  br = branch
[core]
  excludesfile = ~/.gitignore_global
  editor = atom --wait
[apply]
  whitespace = nowarn
[format]
  pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[branch]
  autosetuprebase = always
[push]
  default = current
[pull]
  rebase = true
[mergetool]
  keepBackup = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/vvasin/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
