[user]
	name = Valerii Vasin
	email = vvasin@groupon.com
[color]
	ui = true
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  fa = fetch --all -p
  st = status
  ci = commit
  co = checkout
  br = branch
[core]
  excludesfile = ~/.gitignore_global
  editor = code --wait
	pager = diff-so-fancy | less --tabs=4 -RFX
[apply]
  whitespace = nowarn
[format]
  pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[branch]
  autosetuprebase = always
[push]
  default = current
[pull]
  rebase = true
[mergetool]
  keepBackup = true
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = yellow
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
