[user]
  name = Valerii Vasin
  email = valerii.vasin@gmail.com
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[alias]
  fa = fetch --all -p
  st = status
  ci = commit
  co = checkout
  br = branch
[core]
  excludesfile = ~/.gitignore_global
  editor = code --wait
[apply]
  whitespace = nowarn
[format]
  pretty = format:%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%ar) %C(bold blue)<%an>%Creset
[branch]
  autosetuprebase = always
[push]
  default = current
[pull]
  rebase = true
[mergetool]
  keepBackup = true
[diff]
  tool = default-difftool
[difftool "default-difftool"]
  cmd = code --wait --diff $LOCAL $REMOTE
